* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/47/46/No5Xby.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}




