* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/47/46/No5Xby.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}

header {
  display: flex;
  position: auto;
  background-color: #6A9BA6;
  width: 100%;
  height: 75px;
  text-transform: uppercase;
  font-family: "Alfa Slab One", sans-serif;
}

main{
  padding: 200px;
}

header nav {
  color: black;
  font-size: 15pt;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: space-evenly;
}

nav a:hover {
color: orange;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 80pt;
  letter-spacing: 13pt;
  text-align: center;
  text-transform: uppercase;
}

.Logo {
  float: center;
  animation: spin 2s infinite;
  margin: 0 auto;
  width: 416px;
  height: 206px;
}

h5 {
  font-size: 20pt;
  font-family: "Geologicar", sans-serif;
  text-align: center;
}

h2 {
  font-size: 90pt;
  font-family: "Geologica", sans-serif;
  color: black;
  width: 500px;
  height: 500px;
}

.Messi {
  display:flex;
  margin:0 auto;
  width: 75vw;
}

.Messi img {
  width: 1000px;
  height: 600px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 180px;
}

.Messi h2 {
  display: flex;
  display: relative;
  left: 20px;
  position: absolute;
  top: 39%;
  left: 56%;
  transform: translate(-50%, -50%);
}

h4 {
  font-family: "Geologica", sans-serif;
  width: 25vw;
  position: relative;
  text-align: left;
  left: 50vw;
  bottom: -8px;
  letter-spacing: .1rem;
  padding-left: 10px;
  }

.CampNou img {
  width: 420px;
  height: 600px;
  display: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 180px;
}

.Argentina img {
  width: 420px;
  height: 600px;
  display: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 180px;
}

.Barcelona img {
  width: 380px;
  height: 600px;
  display: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 180px;
}

.row1 {
  display: flex;
  flex-direction: row;
  width: 95vw;
  margin: 0 auto;
}

.row1 img, .row1 div, .row1 h3, .row2 img, .row2 div, .row2 h3 {
  width: 16%;
  font-family: "Geologica", san-serif;
  height: auto;
  font-size: 30pt;
  letter-spacing: .2rem;
}

.row1 h3, .row2 h3 {
  font-family: "Geologica", san-serif;
  position: relative;
  left: 20px;
}

.row1 p {
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Geologica", sans-serif;
}

.row2 p {
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Geologica", sans-serif;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 95vw;
  margin: 0 auto;
}

@keyframes spin {
  from { transform: rotateY(0deg); } 
    to { transform: rotateY(360deg); }
}

.Logo {
  mix-blend-mode: multiply;
}








