* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
}

body {
  background-image: url(https://cdn.wallpapersafari.com/47/46/No5Xby.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}

header {
  display: flex;
  position: auto;
  background-color: #6A9BA6;
  width: 100%;
  height: 75px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

main{
  padding: 100px;
}

header nav {
  color: black;
  font-size: 15pt;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: space-evenly;
}

nav a:hover {
color: orange;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80pt;
  letter-spacing: 13pt;
  text-align: center;
}

.Logo {
  float: center;
  animation: spin 2s infinite;
  margin: 0 auto;
  width: 416px;
  height: 206px;
}

h5 {
  font-size: 20pt;
  font-family: "Popstar", sans-serif;
  text-align: center;
}



